<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Web Portal</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/select2")
    @Styles.Render("~/Content/select2izgled")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/simplebar.css")
    

    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.js"></script>@*CDN za simplebar*@
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Web portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Postavljanje materijala", "UploadMaterijal", "UploadMaterijal")</li>
                    <li>@Html.ActionLink("Preuzimanje materijala", "MaterijaliPrikaz", "UploadMaterijal")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div id="hamburger-menu-toggle" class="hamburger-menu-toggle-otvoren">
        <div class="bar bar-top"></div>
        <div class="bar bar-middle"></div>
        <div class="bar bar-bottom"></div>
    </div>
    <div data-simplebar class="LeftBar">
        <div id="CrveniFiksni"></div>
        <div id="Crveni">
            <img src="~/Content/img/prof-slika.png" alt="profilna slika" />
        </div>
        <!-- Reseno -->
        <p id="Ime"> Jovana Nikolic</p>
        <p id="uloga">
            administrator
        </p>
        <ul class="ListaNav">
            <li class="naslov">
                <div id="Cikica" class="slikaOdNaslova">
                    <img src="~/Content/img/cikica.png" alt="slika1" />
                </div>
                <p>Korisnici</p>
            </li>
            <li>
                <div class="slikaLi">
                    <img src="~/Content/img/plus.png" alt="slika1" />
                </div>
                <p>Novi korisnik</p>
            </li>
            <li>
                <div class="slikaLi">
                    <img src="~/Content/img/lupa.png" alt="slika1" />
                </div>
                <p>Pretraga korisnika</p>
            </li>
        </ul>
        <ul class="ListaNav">
            <li class="naslov">
                <div id="Materijali" class="slikaOdNaslova">
                    <img src="~/Content/img/mat.png" alt="slika1" />
                </div>
                <p>Materijali</p>
            </li>
            <li>
                @* SHOWING OFF TO MANAGMENT DELETE THIS CRAP AFTER *@
                <a href=@Url.RouteUrl("MaterijaliZaProf")>
                    <div class="slikaLi">
                        <img src="~/Content/img/profesor.png" alt="slika1" />
                    </div>
                    <p>Obuka profesora</p>
                </a>
            </li>
            <li id="aktivan">
                <a href="@Url.Action("SmeroviPrikaz", "Smer")">
                    <div class="slikaLi">
                        <img src="~/Content/img/ucenik.png" alt="slika1" />
                    </div>
                    <p>Nastavni materijal</p>
                </a>
            </li>
        </ul>
        <ul class="ListaNav">
            <li class="naslov">
                <div id="Novine" class="slikaOdNaslova">
                    <img src="~/Content/img/Novine.png" alt="slika1" />
                </div>
                <p id="vestiP">Vesti i obavestenja</p>
            </li>
            <li>
                <div class="slikaLi">
                    <img src="~/Content/img/novine-svetlije.png" alt="slika1" />
                </div>
                <p>Pregled vesti</p>
            </li>
            <li>
                <div class="slikaLi">
                    <img id="nova-vest" src="~/Content/img/novavest.png" alt="slika1" />
                </div>
                <p>Nova vest</p>
            </li>
            <li>
                <div class="slikaLi">
                    <img id="zvono" src="~/Content/img/zvono.png" alt="slika1" />
                </div>
                <p>Pregled obavestenja</p>
            </li>
            <li>
                <div class="slikaLi">
                    <img src="~/Content/img/zvono-plus.png" alt="slika1" />
                </div>
                <p>Novo</p>
            </li>
        </ul>
    </div>
    <div id="gornjaNavigacija"> 
        <a id="nazad" href="#">
            <img src="~/Content/img/back-strelica.png" alt="nazad">
        </a>
        <p>
            Materijali
        </p>
        <img class="breadcrumbsTrougao" src="~/Content/img/trougao-breadcrumbs.png" alt="/">
        <p>
            Nastavni materijal
        </p>
        <img class="breadcrumbsTrougao" src="~/Content/img/trougao-breadcrumbs.png" alt="/">
        <p>
            Novi materijal
        </p>
        
        <img id="gornjeOpcije" src="~/Content/img/tri-tacke.png" alt="opcije">

        @*<img class="gornjiNavIkonice" id="lupaPretragaToggle" src="~/Content/img/lupaPretraga.png" alt="pretraga" />*@

        <div id="lupaWrap">
            <div id="search"></div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/UI/select2.min.js")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/shared")
    @Scripts.Render("~/bundles/ui")

    @RenderBody()


    @*<hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Web Portal</p>
        </footer>*@

    @RenderSection("scripts", required: false)
</body>
</html>
