@model  Projekat.ViewModels.MaterijaliNaprednaPretragaViewModel
@using Projekat.Helpers;
@{
    ViewBag.Title = "MaterijaliPrikaz";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")*@


<div id="sredina">
    
    <a id="novi-materijal" href="@Url.Action("UploadMaterijal", "Materijal")">
        <img src="~/Content/img/upload.png" alt="Novi materijal">
    </a>
    <img id="banana" src="~/Content/img/potvrdaBrisanjaGIFGOTOV.gif" />

    <div id="naprednaPretraga">
        <label class="nasSelect2dropdown">Tip materijala</label>

        @*<select class="select2materijali" multiple="multiple" name="materijali">
            <optgroup label="Tip materijala">
                <option value="Domaci">Domaci</option>
                <option value="Predavanje">Predavanje</option>
                <option value="Vezbe">Vezbe</option>
                <option value="Primeri">Primeri</option>
            </optgroup>
        </select>*@
        @Html.DropDownListFor(m => m.materijal.tipMaterijalId, new SelectList(Model.tipoviMaterijala, "tipMaterijalId", "nazivTipMaterijal"), new { @class = "select2materijali" ,@multiple ="multiple", @name = "materijali" })
 

        

        @* //TEMP// ovde cu da bindujem sa bazom //TEMP// *@

        @*  @Html.DropDownListFor(m => m.naprednaPretragaSelektovani, new SelectList(Model.materijali), new { @class = "select2formati", @multiple = "multiple", @name ="formati" })*@

        <label class="nasSelect2dropdown">Format materijala</label>

        @Html.Raw(Html.DropDownOpt(m =>m.materijal.materijalEkstenzija,new SelectList(Model.materijali, "materijalEkstenzija", "materijalEkstenzija"), "MaterijalModel"))
        
       @* Gadja se materijalEkstenzija jer nemamo posebnu tabelu za nju pa moramo filtrirati po stringu *@

        

        @*<select class="select2formati" multiple="multiple" name="formati">



            <optgroup label='Tekstualni'>
                <option value="pdf">pdf</option>
                <option value="docx">docx</option>
                <option value="rtf">rtf</option>
                <option value="txt">txt</option>

            </optgroup>

            <optgroup label="Slike">
                <option value="jpg">jpg</option>
                <option value="gif">gif</option>
                <option value="png">png</option>
            </optgroup>

            <optgroup label="Ostali">
                <option value="mp4">mp4</option>
            </optgroup>


        </select>*@

        @* //TEMP// ovde cu da bindujem sa bazom //TEMP// *@
        
        <select class="customDropdown datum" name="filterStarijeNovije">
            <option id="rastuce">Od starijeg ka novijem</option>
            <option id="opadajuce">Od novijeg ka starijem</option>
        </select>

        <img id="asc-desc" src="~/Content/img/sort.png" alt="asc/desc" />

    </div>
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>

    @Html.Partial("_Kartice", Model);

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Potvrda brisanja</h4>
                </div>
                <div class="modal-body">
                    <img src="~/Content/img/kantaPotvrdaBrisanjaModal.png" id="kantaModalSlika" alt="kanta" />
                    <p>Da li ste sigurni da želite da obrišete <span></span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Potvrdi</button>
                    <button type="button" class="btn btn-default btn-sekundarni" data-dismiss="modal">Odustani</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        var data = sessionStorage.getItem('kantica');
        if (data) {
            $('#banana').css('display', 'block').attr('src', '').attr('src', '../../Content/img/potvrdaBrisanjaGIFGOTOV.gif');
            setTimeout(function () { $('#banana').css('display', 'none') }, 2000);
            sessionStorage.removeItem('kantica');
        }

        $(".brisi").click(function () {
            $delete = $(this);

            var id = $delete.parent().parent().parent().parent().attr('id');    
            var ime = $delete.parent().parent().parent().find('h2').text();

            console.log(id);
            $('.modal-body span').text(ime);

            $('button.btn-default:first').click(function () {
                $.ajax({
                    //url: "/ControllerName/ActionName",
                    url: '@Url.Action("DeleteConfirmed", "Materijal")' + "/?id=" + id,
                    method: 'post',
                    //data:{id:id},
                    complete: function () {
                        $delete.parent().parent().parent().parent().remove();
                        sessionStorage.setItem('kantica', true);
                        location.reload();
                    }
                });

            });
        });

    });
</script>


@Scripts.Render("~/bundles/materijal")
@Scripts.Render("~/Scripts/select2.min.js")
@Scripts.Render("~/Scripts/customDropdown.js")
@Scripts.Render("~/Scripts/filterMaterijal.js")
@Scripts.Render("~/Scripts/asc-desc-strelica.js")
@Scripts.Render("~/Scripts/lupauX.js")