@model IEnumerable<Projekat.Models.MaterijalModel>
@{
    ViewBag.Title = "MaterijaliPrikaz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/js")

<div id="sredina">
    <a id="novi-materijal" href="@Url.Action("UploadMaterijal", "Materijal")">
        <img src="~/Content/img/upload.png" alt="Novi materijal">
    </a>
    @foreach (var materijal in Model)
    {
        //using (Html.BeginForm("Delete", "UploadMaterijal", new { id = materijal.materijalId }))
        //{
        //}
        //var myModal = "myModal" + materijal.materijalId;
        <div class="kartica" id=@materijal.materijalId>
            <div class="karticaTekts">
                <h2>
                    @materijal.materijalNaziv
                </h2>
                <p class="postavio">
                    Jovana Nikolić / Administrator / 4 Komentara
                </p>
                <p class="opis">
                    At vero eos et accusamus et iusto odio dignissimos ducimus molestias excepturi sint... raduju svakoj novoj aktivnosti i poseti deci i ljudima kojima je pomoć neophodna.
                </p>
                <div class="kontrole">
                    <div class="triTackeKontrole" tabindex="1">
                        <img src="~/Content/img/tri-tacke.png" alt="jos-opcija">
                        <div class="dropdown-sadrzaj">
                            <a href="#">Obriši</a>
                            <a href="#">Uredi</a>
                            <a href="#">Komentariši</a>
                        </div>
                    </div>
                    <a class="delete" href="#" data-toggle="modal" data-target="#myModal">
                        @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@
                        @*@Url.Action("Delete", "UploadMaterijal", new { id = materijal.materijalId })*@
                        <img class="brisi" src="~/Content/img/obrisi.png" alt="obrisi">
                    </a>
                    <a class="uredi" href="#">
                        <img src="~/Content/img/uredi.png" alt="uredi">
                    </a>
                    <a class="komentarisi" href="#">
                        <img src="~/Content/img/komentarisi.png" alt="komentarisi">
                    </a>
                    <a class="datumPostavljanja" href="#">28.06.2017.</a>
                    <a class="preuzmi" href="@Url.Action("DownloadMaterijal", "Materijal", new { id = materijal.materijalId })">preuzmi</a>
                </div>
            </div>
            <div class="karticaFormat">
                <a href="#">
                    <img src="@Url.Content(materijal.ImgPath)" alt="preuzmi-PDF">
                </a>
            </div>
            @*@Html.HiddenFor(Model => materijal.materijalId, new {@id ="nesto" })*@
        </div>
    }

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Da li ste sigurni da želite da obrišete <span>@*ubaci ime mat*@</span>?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Potvrdi</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $(".brisi").click(function () {
                    $delete = $(this);

                    var id = $delete.parent().parent().parent().parent().attr('id');
                    console.log(id);

                    $('button.btn-default:first').click(function () {
                        $.ajax({
                            
                            //url: "/ControllerName/ActionName",
                            url: '@Url.Action("DeleteConfirmed", "Materijal")' + "/?id=" + id,
                            method: 'post',
                            //data:{id:id},
                            complete: function () {
                                location.reload();
                            }
                        });
                        $delete.parent().parent().parent().parent().remove();
                    });
                });
            });
        </script>
    </div>
</div>

@Scripts.Render("~/Scripts/kontroleRespMaterijaliPrikaz.js")