<div id="sredina" class="sredina-upload-mat">
    @model Projekat.Models.DetaljiKorisnikaViewModel
    @{
        ViewBag.Title = "Detalji Korisnika";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <style>
        @@media screen and (max-width: 600px) {
            .smanji{
                width:100%;
            }
            .btnsOnDetalji {
                width: 100%;
                clear: both;
                float: left;
                text-align:center;
             }

            .btnReset {
                width: 100%;
                clear: both;
                float: left;
            }
            }

                                    <!-- Responsive design -->
    </style>
    <h2>@ViewBag.Title</h2>

    <div class="form-detalji" role="form">


        <h4>Detalji korisnika: @Model.Korisnik.UserName</h4>



        <img src="data:image;base64,@System.Convert.ToBase64String(Model.Korisnik.Slika)" class="slika" />
        <table>
            <tr> <td class="kategorija"> <label class="labele">Ime: &nbsp</label> </td> <td>  <label class="labelaIzBaze">@Model.Korisnik.Ime</label> </td> </tr>

            <tr> <td class="kategorija"> <label class="labele">Prezime: &nbsp</label>   </td> <td>    <label class="labelaIzBaze">@Model.Korisnik.Prezime</label>  </td> </tr>


            <tr> <td class="kategorija"><label class="labele">Email: &nbsp</label>   </td> <td>      <label class="labelaIzBaze">@Model.Korisnik.Email</label> </td> </tr>

            <tr> <td class="kategorija"><label class="labele">Broj telefona: &nbsp</label>    </td> <td>    <label class="labelaIzBaze">@Model.Korisnik.PhoneNumber</label> </td> </tr>



            <tr> <td class="kategorija"><label class="labele">Uloga: &nbsp</label>    </td> <td>    <label class="labelaIzBaze">@Model.Korisnik.Uloga</label></td> </tr>
            @{ if (Model.Korisnik.Uloga == "Ucenik")
                {
                    <tr> <td class="kategorija"><label class="labele">Skola: &nbsp</label>   </td> <td>      <label class="labelaIzBaze">@Model.SelektovanaSkola</label></td> </tr>

                    <tr> <td class="kategorija"><label class="labele">Godina upisa: &nbsp</label>   </td> <td>      <label class="labelaIzBaze">@Model.Korisnik.GodinaUpisa</label></td> </tr>

                    <tr> <td class="kategorija"><label class="labele">Smer: &nbsp</label>   </td> <td>      <label class="labelaIzBaze">@Model.SelektovaniSmer</label></td> </tr>
                }
                else if (Model.Korisnik.Uloga == "Profesor")
                {
                    <tr> <td class="kategorija"><label class="labele">Skola: &nbsp</label>   </td> <td>      <label class="labelaIzBaze">@Model.SelektovanaSkola</label></td> </tr>
                }
            }




        </table>
        <p>

            @using (Html.BeginForm("IzmeniKorisnika", "Account", new { ID = Model.Korisnik.Id }, FormMethod.Get))
            {

                <input type="submit" name="button" class="btnsOnDetalji" value="IZMENI" />
            }

            @using (Html.BeginForm("ObrisiKorisnika", "Account", new { ID = Model.Korisnik.Id }, FormMethod.Post))
            {

                <input type="submit" name="button" class="btnsOnDetalji" value="OBRISI" onclick="return confirm('Molimo vas potvrdite brisanje')" />
            }

            @using (Html.BeginForm("DetaljiKorisnika", "Account", new { ID = Model.Korisnik.Id }, FormMethod.Post))
            {

                <input type="submit" name="button" class="btnReset" value="RESETUJ PASSWORD" onclick="return confirm('Molimo vas potvrdite resetovanje sifre')" />
            }

        </p>








    </div>
</div>
@section Scripts{

    @Scripts.Render("~bundles/Content/css")

}