@model IEnumerable<Projekat.ViewModels.ListaKorisnikaViewModel>

@{
    ViewBag.Title = "ListaKorisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div id="sredina">
    <h2>Lista Korisnika</h2>

        <link rel="stylesheet" type="text/css" href="~/Content/css/TabelaListaKorisnika.css">

    <table id="listaKorisnika" class="display">
        <thead>
            <tr>
                <th style="border-right: 1px solid lightgray; font-family: 'roboto-light'">Korisničko ime</th>
                <th style="padding-left: 25px; font-family: 'roboto-light'">Prezime</th>
                <th style="font-family: 'roboto-light'">Škola</th>
                <th style="font-family: 'roboto-light'">Smer</th>
                <th style="font-family: 'roboto-light'">Telefon</th>
                <th style="font-family: 'roboto-light'">Detalji</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="border-right: 1px solid lightgray">@item.Korisnik.UserName</td>
                    <td style="padding-left: 25px">@item.Korisnik.Prezime</td>
                    <td>@item.Skola</td>
                    <td>@item.Smer</td>
                    <td>@item.Korisnik.PhoneNumber</td>
                    <td class="dugmetd">
                        @using (Html.BeginForm("DetaljiKorisnika", "Account", new { ID = item.Korisnik.Id }))
                        {

                            <input type="submit" name="button" class="btnDetalji" value="DETALJI" />
                        }
                </td>

            </tr>
        }
        </tbody>
    </table>



    <a id="novi-korisnik" href="/Account/Register">
        <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg">
            <g>
                <title>background</title>
                <rect fill="none" id="canvas_background" height="62" width="62" y="-1" x="-1" />
                <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                    <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                </g>
            </g>
            <g>
                <title>Layer 1</title>
                <rect id="svg_4" height="26" width="3" y="17" x="28.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#fff" />
                <rect transform="rotate(90, 29.898, 30)" id="svg_9" height="26" width="3" y="17" x="28.397959" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#fff" />
            </g>
        </svg>
    </a>

</div>

@section Scripts {
    @Scripts.Render("~/Scripts/datatables.min.js")
    @Scripts.Render("~/bundles/lista_korisnika")
    @Scripts.Render("~/Scripts/UI/labeli.js")
}   