@model IEnumerable<Projekat.ViewModels.ListaKorisnikaViewModel>

@{
    ViewBag.Title = "ListaKorisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div id="sredina">
    <h2>Lista Korisnika</h2>

        <link rel="stylesheet" type="text/css" href="~/Content/css/TabelaListaKorisnika.css">

    <table id="listaKorisnika" class="display">
        <thead>
            <tr>
                <th style="border-right: 1px solid lightgray; font-family: 'roboto-light'">Korisničko ime</th>
                <th style="padding-left: 25px; font-family: 'roboto-light'">Prezime</th>
                <th style="font-family: 'roboto-light'">Škola</th>
                <th style="font-family: 'roboto-light'">Smer</th>
                <th style="font-family: 'roboto-light'">Telefon</th>
                <th style="font-family: 'roboto-light'">Detalji</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model)
            {
        <tr>
            <td style="border-right: 1px solid lightgray">@item.Korisnik.UserName</td>
            <td style="padding-left: 25px">@item.Korisnik.Prezime</td>
            <td>@item.Skola</td>
            <td>@item.Smer</td>
            <td>@item.Korisnik.PhoneNumber</td>

            <td>
                <input type="button" name="button" class="btnDetalji" value="DETALJI" data-toggle="modal" data-target="#myModal_@item.Korisnik.UserName"/>


                <div id="myModal_@item.Korisnik.UserName" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        
                            <div class="modal-body">
                                <div class="form-detalji" role="form">



                                    <h4>Detalji korisnika: @item.Korisnik.UserName</h4>



                                    <img src="data:image;base64,@System.Convert.ToBase64String(item.Korisnik.Slika)" class="slika" />
                                    <table>
                                        <tr> <td class="kategorija"> <label class="labele">Ime: &nbsp</label> </td> <td>  <label class="labelaIzBaze">@item.Korisnik.Ime</label> </td> </tr>

                                        <tr> <td class="kategorija"> <label class="labele">Prezime: &nbsp</label>   </td> <td>    <label class="labelaIzBaze">@item.Korisnik.Prezime</label>  </td> </tr>


                                        <tr> <td class="kategorija"><label class="labele">Email: &nbsp</label>   </td> <td>      <label class="labelaIzBaze">@item.Korisnik.Email</label> </td> </tr>

                                        <tr> <td class="kategorija"><label class="labele">Broj telefona: &nbsp</label>    </td> <td>    <label class="labelaIzBaze">@item.Korisnik.PhoneNumber</label> </td> </tr>



                                        <tr> <td class="kategorija"><label class="labele">Uloga: &nbsp</label>    </td> <td>    <label class="labelaIzBaze">@item.Korisnik.Uloga</label></td> </tr>
                                        @{ if (item.Korisnik.Uloga == "Ucenik")
                {
                                                <tr> <td class="kategorija"><label class="labele">Skola: &nbsp</label>   </td> <td>      <label class="labelaIzBaze">@item.Skola</label></td> </tr>

                                                <tr> <td class="kategorija"><label class="labele">Godina upisa: &nbsp</label>   </td> <td>      <label class="labelaIzBaze">@item.Korisnik.GodinaUpisa</label></td> </tr>

                                                <tr> <td class="kategorija"><label class="labele">Smer: &nbsp</label>   </td> <td>      <label class="labelaIzBaze">@item.Smer</label></td> </tr>
                                            }
                                            else if (item.Korisnik.Uloga == "Profesor")
                                            {
                                                <tr> <td class="kategorija"><label class="labele">Skola: &nbsp</label>   </td> <td>      <label class="labelaIzBaze">@item.Skola</label></td> </tr>
                                            }
                                        }




                                    </table>
                                    <p>

                                        @using (Html.BeginForm("IzmeniKorisnika", "Account", new { ID = item.Korisnik.Id }, FormMethod.Get))
                                        {

                                            <input type="submit" name="button" class="btnsOnDetalji" value="IZMENI" />
                                        }

                                        @using (Html.BeginForm("ObrisiKorisnika", "Account", new { ID = item.Korisnik.Id }, FormMethod.Post))
                                        {

                                            <input type="submit" name="button" class="btnsOnDetalji" value="OBRISI" onclick="return confirm('Molimo vas potvrdite brisanje')" />
                                        }

                                        @using (Html.BeginForm("DetaljiKorisnika", "Account", new { ID = item.Korisnik.Id }, FormMethod.Post))
                                        {

                                            <input type="submit" name="button" class="btnReset" value="RESETUJ PASSWORD" onclick="return confirm('Molimo vas potvrdite resetovanje sifre')" />
                                        }

                                    </p>
                                </div>
                            
                        </div>

                    </div>
                </div>
            </td>
        </tr>
        
    }
        </tbody>
    </table>



    <a id="novi-korisnik" href="/Account/Register">
        <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg">
            <g>
                <title>background</title>
                <rect fill="none" id="canvas_background" height="62" width="62" y="-1" x="-1" />
                <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                    <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                </g>
            </g>
            <g>
                <title>Layer 1</title>
                <rect id="svg_4" height="26" width="3" y="17" x="28.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#fff" />
                <rect transform="rotate(90, 29.898, 30)" id="svg_9" height="26" width="3" y="17" x="28.397959" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#fff" />
            </g>
        </svg>
    </a>

</div>

@section Scripts {
    @Scripts.Render("~/Scripts/datatables.min.js")
    @Scripts.Render("~/bundles/lista_korisnika")
    @Scripts.Render("~/Scripts/UI/labeli.js")
}   