
<div id="sredina" class="sredina-upload-mat" style=" width: calc(100% - 338px);">


    @model Projekat.Models.RegisterViewModel
    @{
        ViewBag.Title = "Unos novog korisnika";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2  style=" text-align: left; margin-right: 32%; font-family: 'roboto-regular'; font-weight: lighter;">@ViewBag.Title</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @id = "postavkaMat", @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <h4  style=" margin-left: 7%; text-align: left; margin-right: 32%; font-family: 'roboto-regular'; font-weight: lighter;">Napravite novi nalog</h4>

        <hr />


        @Html.LabelFor(m => m.Ime, new { @class = "matDesignLabel" })
        @Html.TextBoxFor(m => m.Ime, new { @id = "korisnikTB" })
        @Html.ValidationMessageFor(m => m.Ime, "", new { @class = "text-danger" })


        @Html.LabelFor(m => m.Prezime, new { @class = "matDesignLabel" })
        @Html.TextBoxFor(m => m.Prezime, new { @id = "korisnikTB" })
        @Html.ValidationMessageFor(m => m.Prezime, "", new { @class = "text-danger" })


        @Html.LabelFor(m => m.Email, new { @class = "matDesignLabel" })
        @Html.TextBoxFor(m => m.Email, new { @id = "korisnikTB" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })


        @Html.LabelFor(m => m.Password, new { @class = "matDesignLabel" })
        @Html.PasswordFor(m => m.Password, new { @id = "korisnikTB" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })


        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "matDesignLabel" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "korisnikTB" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

        @Html.LabelFor(m => m.GodinaUpisa, new { @class = "matDesignLabel" })
        @Html.TextBoxFor(m => m.GodinaUpisa, new { @id = "korisnikTB" })
        @Html.ValidationMessageFor(m => m.GodinaUpisa, "", new { @class = "text-danger" })


            <div class="noviKorisnikDD">
                
                <label for="customDropdown" style=" text-align: left; margin-right: 32%; font-family: 'roboto-regular'; font-weight: lighter;"> Odaberite smer: </label>
                @Html.DropDownListFor(m => m.selektovaniSmer, new SelectList(Model.Smerovi, "smerId", "smerNaziv"), new { @class = "customDropdown" })
            </div>
            <div class="noviKorisnikDD">

                <label for="customDropdown" style=" text-align: left; margin-right: 32%; font-family: 'roboto-regular'; font-weight: lighter;"> Odaberite ulogu: </label>
                @Html.DropDownListFor(m => m.selektovanaUloga, new SelectList(Model.Uloge, "Name", "Name"), new { @class = "customDropdown", @selected = "selected" })
            </div>
            <div class="noviKorisnikDD">

                <label for="customDropdown" style=" text-align left; margin-right 32%; font-family 'roboto-regular' ; font-weight lighter;"> Odaberite skolu: </label>
                @Html.DropDownListFor(m => m.SelektovanaSkola, new SelectList(Model.Skole, "IdSkole", "NazivSkole"), new { @class = "customDropdown", @selected = "selected" })
            </div>

            <input type="file" name="file" id="file" class="inputfile" accept=".jpg, .png, .jpeg, .bmp, .tif, .tiff|images/*" />
            <label for="file" id="izaberi-materijal"> <span id="filename"> <span> <img src="~/Content/img/upload2.png" alt="Izaberite Sliku"> Izaberite sliku...</span></span> </label>
            <input type="submit" id="btn-register" value="Register" />


            }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                @Scripts.Render("~/bundles/upload_materijal")
            }
